@{
    ViewData["Title"] = "Home Page";
}

@model ApartmentsIndexViewModel

<div class="container">
    <h1 class="mb-5">List of apartments in DB</h1>

    @using (Html.BeginForm("FilterApartments", "Apartments", FormMethod.Post))
    {
        <div class="d-flex mb-3">
            <p class="col-md-2 font-weight-bold">Filter by: </p>
            <div class="col-md-2">
                @Html.DropDownListFor(x => x.FilterBy.Company, new SelectList(Model.Companies, "Id", "CompanyName"), "Companies", new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(x => x.FilterBy.Broker, new SelectList(Model.Brokers, "Id", "FirstName"), "Broker", new { @class = "form-control" })
            </div>
            <div>
                <input type="submit" value="Go" class="btn btn-outline-dark" />
            </div>
            @if (Model.FilterBy.Company != null || Model.FilterBy.Broker != null)
            {
                <div class="col-md-2">
                    @Html.ActionLink("Remove filter", "Index", "Apartments", null, new { @class = "btn btn-outline-primary" })
                </div>
            }

        </div>
    }



    <div class="mb-3">
        @Html.ActionLink("Add apartment", "AddApartment", "Apartments", null, new { @class = "btn btn-warning" })
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Apartment</th>
                <th scope="col">Company</th>
                <th scope="col">Broker</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Apartments)
            {
                <tr>
                    <td>@Html.ActionLink($"{@item.City} {@item.Street} g. {@item.BuildingNo}, {@item.ApartmentSpace} sq.m.", "Info", "Apartments", new { id = $"{item.Id}" })</td>
                    <td>@Html.ActionLink($"{@item.Company.CompanyName}", "BrokersInCompany", "Companies", new { id = $"{item.CompanyId}" })</td>
                    @if (@item.BrokerId == null)
                    {
                        <td>NA</td>
                    }
                    else
                    {
                        <td>@Html.ActionLink($"{Model.Brokers.FirstOrDefault(b => b.Id == item.BrokerId).FirstName} {Model.Brokers.FirstOrDefault(b => b.Id == item.BrokerId).LastName}", "BrokerApartments", "Brokers", new { id = $"{@item.BrokerId}" })</td>
                    }
                </tr>
            }
        </tbody>
    </table>


</div>
