@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Meh...</p>
<br />
<img src="@Url.Content("https://starecat.com/content/wp-content/uploads/my-code-dog-standing-on-cans-indian-guys-on-youtube-stack-overflow-luck-online-forums-from-2008.jpg")" alt="" />
<br />
<img src="@Url.Content("https://img-9gag-fun.9cache.com/photo/aGpOm0G_700bwp.webp")" alt="Čia yra memeas" />
<br />
<img src="@Url.Content("https://img-9gag-fun.9cache.com/photo/aeARPqB_700bwp.webp")" alt="Čia yra memeas" />
<br />
<img src="@Url.Content("https://img-9gag-fun.9cache.com/photo/aEpOKNN_700bwp.webp")" alt="Čia yra memeas" />
<br />
<img src="@Url.Content("https://img-9gag-fun.9cache.com/photo/apNBOL9_460swp.webp")" alt="Čia yra memeas" />