@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model EditCompanyViewModel

<h3>Edit company</h3>

@using (Html.BeginForm("EditCompany", "Companies", FormMethod.Post))
{
    <div class="row mb-3">
        <div class="mr-3">
            @Html.EditorFor(x => x.Company.CompanyName, new { @class = "form-control col-sm-12" })
        </div>
        <div class="mr-3">
            @Html.EditorFor(x => x.Company.City, new { @class = "form-control col-sm-12" })
        </div>
        <div class="mr-3">
            @Html.EditorFor(x => x.Company.Street, new { @class = "form-control col-sm-12" })
        </div>
        <div class="mr-3">
            @Html.EditorFor(x => x.Company.BuildingNo, new { @class = "form-control col-sm-12" })
        </div>
        <div class="mr-3">
            @Html.ListBoxFor(x => x.CompanyBrokersIds, new MultiSelectList(@Model.Brokers, "Id", "FirstName"), new { id = "multiSelectDropDown", multiple = "multiple", style = "width:200px" })
        </div>
        <div>
            @Html.HiddenFor(x => x.Company.Id)
        </div>

        <div>
            <input type="submit" value="Save" class="btn btn-secondary" />
        </div>
    </div>

}

@section scripts {
    <script>
        $("#multiSelectDropDown").chosen();
    </script>
}